<div id="Pres">
  Bienvenue dans Tower of Slimes.
  <br>
  Venez gravir les étages et les difficultés qui vous attendent
  <br>
  La puissance des enemis vous réserve parfois bien des surprises.
  <br>
  Vous pouvez fuir chaque étage pour le recommencer plus tard, mais cela vous coutera des Golds.
  <br>
  Les golds peuvent être utilisés pour vous soigner.
  <br>
  Attention, les enemis avec plus de Def que votre Force ne subiront aucun Dmg.
  <br>
  Aussi, votre Intel vous permettra de Crit plus souvent.
  <br>
  Alors ? Prêt à massacrer des Slimes ?
  <br>
  La légende raconte qu'au 100ème étage ....
  <br>
<button (click)="gotoHero()">Au combat !!!</button>

</div>
