<h2>{{title}}aa</h2>
<app-ui title="bweeeh">
  <app-icon-close class="tr-icon-close"></app-icon-close>
  <app-icon-delete class="tr-icon-delete"></app-icon-delete>
  <app-icon-edit class="tr-icon-edit"></app-icon-edit>
  <app-icon-minus class="tr-icon-minus"></app-icon-minus>
  <app-icon-nav class="tr-icon-nav"></app-icon-nav>
  <app-icon-plus class="tr-icon-add"></app-icon-plus>


  <app-header class="tr-header"></app-header>
  <app-nav class="tr-nav"></app-nav>
  <app-footer class="tr-footer"></app-footer>
  <router-outlet class="tr-content"></router-outlet>
</app-ui>
